*{
    margin: 0;
    padding: 0;
}
/* NavBar custom css used alongside bootstrap(section 1) */
.navbar-custom{
height:6em;
position: relative;
z-index: 2;
}
/* after to draw horizontal line */
.navbar-custom::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(221, 220, 220);
  }
.custom-nav-link{
    font-weight:lighter;
    font-size: large;
}
.custom-img{
    margin-left: 5%;
}

.custom-button{
    width:5%;
}
.navbar-nav {
    margin-left:49px;
  }
  /* Add space between the dropdown items */
  .dropdown-menu {
    margin-top: 10px;
  }
/* body containers Css */
/* Section 2 */
.container-1{
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items:center;
    flex: 1;
    background-color: rgb(248, 247, 247);
    margin-bottom: 4%;
}
.subcontainer-1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:start;
    text-align:start;
    height:max-content;
    margin-left:6%;
}
.subimage-1{
    max-width: 100%; /* Ensures the image scales down if needed */
    max-height: 100%; 
}
.paragraph-1{
    color:rgb(82, 82, 255);
    font-size:larger;
}
.paragraph-2{
    color: rgb(124, 124, 124);
    font-size:medium;
    white-space:break-spaces;
    
}
.heading-1{
    font-weight:bolder;
}
.buttons{
    display: flex;

}
.line{
    color: gray;
}
/* Cards container css  */
/* Section 3 */
.displaycards{
display: flex;
justify-content:center;
align-items: center;
align-content: center;
padding: 0px 2% 0% 5%;
margin-bottom: 2%;
}
.heading-2{
    font-weight: bold;
}
/* Cards css */
.card-1{
   box-sizing: border-box;
   width:30%;

}
.paragraph-container{
    width:100%
}

/* Section 4 */
.container-3{
    background-color:#2B63D9;
    text-align: center;
    justify-items: center;
    padding: 5% 5% 0% 0%;
}
.heading-3{
    font-weight: bold;
    color:white;
}
.paragraph-3{
    color:#B1CCFB;
    font-size: large;
}
.subcontainer-2{
    display: grid;
    grid-template-columns:auto auto auto;
    padding:4% 4% 0% 5%;
}
.card-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border-radius: 10px;
    margin-left: 4%;
    padding:6%;
    text-align: start;
    background-color:#3971E7;
    margin-bottom: 6%;
    width: 80%;
}
.sub-card-container-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}
.sub-heading-1{
    font-weight: bold;
    color: white;
}

/* section 5 */
.container-4{
    background-color: white;
    padding: 5%;
}
.subcontainer-3{
    margin-left: 0;
}
.subimage-2{
    transform: rotate(0deg);
}
.heading-4{
    font-weight:bold;
    width:50%;
    font-size: xx-large;
}
/* For responsiveness */
@media (max-width:412px) {
    .heading-1{
        font-weight:bold;
    }
    .heading-4{
        font-weight:bold;
        font-size: xx-large;
        width: 92%;
    }
    .custom-button{
        display: none;
    }

    .container-1{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap:wrap;
        justify-content:start;
        overflow: hidden;
    }
    .subimage-1{
        max-width: 100%; /* Ensures the container adjusts to its parent's width */
        max-height: 100vh; /* Limits the container's height to the viewport height */
        overflow: hidden; 
        z-index: 1;

    }
    .buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .subcontainer-1{
        display: flex;
        padding:5%;
        flex-direction: column;
        justify-items: center;
        align-items:start;
        text-align:start;
        height:max-content;
        margin-left:auto;
    }
    .paragraph-2{
        color: rgb(124, 124, 124);
        font-size:80%;
        
    }
    .displaycards{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        }
        .card-1{
           width:80%;
         
         }
         .subcontainer-2{
            display: grid;
            grid-template-columns:auto;
            padding:4% 2%;
        }
        .heading-3{
            font-weight: bold;
            color:white;
            font-size:larger;
        }
        .container-3{
            padding: 5% 0% 0% 0%;
        }
        .paragraph-3{
            color:#B1CCFB;
            font-size:small;
        }
        .container-4{
            display: flex;
            flex-direction: column;
            flex-direction:row-reverse;
            background-color: white;
            padding: 5%;
        }
        .paragraph-container-2{
            text-align: center;
        }
        .card-2{
            width:90%;
        }
}
  @media (max-width:1242px) and (min-width: 413px){
    .custom-button{
        display: none;
    }
    .container-1{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap:wrap;
        justify-content:start;
        text-align: center;
        align-items:center;
        margin-left: 0%;
    }
    .buttons{
        display: flex;
        margin-bottom:5%;
    }
    .subcontainer-1{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items:start;
        text-align:start;
        height:max-content;
        margin-left: -28%;
    }
    .subcontainer-3{
        margin-left:0%;
    }
    .displaycards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center; 
        align-items: center;/* Align items horizontally to the center */
        margin-left:3%;
        padding:4%;
        }
        .paragraph-2{
            color: rgb(124, 124, 124);
    font-size:medium;
    white-space:break-spaces;
    box-sizing: border-box;
        }
        .card-1{
            width:100%;
          
          }
          .subcontainer-2{
            display: grid;
            grid-template-columns:auto auto;
            padding: 4% 0% 0 4%;
        }
        .card-2{
            width:42vw;
        }
        .container-4{
            display: flex;
            flex-direction: column;
            flex-direction:row-reverse;
            background-color: white;
            padding: 5%;
        }
  }